@font-face {
    font-family: 'journal';
    src: url('../font/OldNewspaperTypes.ttf') format('truetype')
}

body {
    background-image: url(../image/727b137b5eb7af4ba91aa790c6f528d6.jpg);
}

h1 {
    text-align: center;
}

h2 {
    color: darkslategrey;
}

#separateur_xp {
    border-top: solid;
    margin-right: 75%;
}

img {
    box-shadow: 6px 6px 3px black;
}

#joli_police {
    font-family: 'journal', arial, serif;
}