/*Polices personnalisées*/
@font-face {
    font-family: 'minimal';
    src: url(../font/minimal.otf);
}

@font-face {
    font-family: 'aliens_and_cows';
    src: url(../font/aliens_and_cows.ttf)
}

/*Balises*/
header {
    background: linear-gradient(0deg, #000000, 45%, #0d0d0d);
    height: 50px;
    margin-bottom: 30px;
    font-size: 20px;
}

body {
    background-color: #1a1a1a;
    color: white;
    font-family: arial;
    width: 900px;
    margin: auto;
    font-family: 'minimal';
    font-size: 30px;
    text-align: justify;
}

nav ul {
    text-align: center;
    padding-top: 15px;
}

nav ul li {
    list-style-type: none;
    display: inline;
    margin-right: 30px;
    margin-left: 30px;
    border-right: 1px solid #6600cc;
    border-left: 1px solid #6600cc;
    padding-left: 15px;
    padding-right: 15px;
}

nav ul li a {
    text-decoration: none;
    color: white;
}

nav ul a:hover {
    color: #e5ccff
}

a {
    text-decoration: none;
    color: #f2e6ff;
}

a:hover {
    color: #e5ccff;
}

footer {
    background: linear-gradient(0deg, #000000, #0d0d0d);
    color: darkgrey;
    margin-top: px;
}

/*Classes*/
.titre_principal {
    text-align: center;
    background-image: url(../image/banniere.png);
    background-repeat: no-repeat;
    background-position: center;
    color: black;
    font-size: 140px;
    margin-bottom: 50px;
}

.sous_titre {
    color: #6600cc;
    font-size: 70px;
    padding-left: 20px;
    margin-bottom: 10px;
    font-weight: bold;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #F5FFFA;
    padding-bottom: 10px;
}

.titre_part {
    font-weight: bold;
    font-size: 40px;
    color: #a64dff;
}

.projet {
    margin-bottom: 50px;
}

.titre_projet {
    color: #bf80ff;
    font-weight: bold;
    font-size: 50px;
    text-align: center;
    border-bottom: 2px solid #d9d9d9;
    margin-bottom: 10px;
}

.soustitre_part {
    font-weight: bold;
    font-size: 33px;
    color: #bf80ff;
}


.card {
    width: 200px;
    height: 200px;
    border: 2px solid #F0FFFF;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 50px;
    font-family: 'minimal';
    font-size: 25px;
    display: inline-block;
}

.card:hover {
    border-color: #000000;
}

.titre_card {
    color: #bf80ff;
    font-weight: bold;
    font-size: 30px;
}

.col_foot {
    display: inline-block;
    margin-left: 34px;
    margin-right: 34px;
}